@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    color-scheme: ligth dark;
}


html{

    scroll-behavior: smooth;
}

body { 
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Onest", sans-serif;

   

}

@media (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto;
    }
    
}



@keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    50% {
      opacity: 0.5;
      transform: translateX(0);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes slideInFromRight {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    50% {
      opacity: 0.5;
      transform: translateX(0);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .animate-slide-in-left {
    animation: slideIn 1s forwards;
  }
  
  .animate-slide-in-right {
    animation: slideInFromRight 1s forwards;
  }

  @keyframes slideInFromBottom {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    50% {
      opacity: 0.5;
      transform: translateY(0);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-slide-in-bottom {
    animation: slideInFromBottom 1s forwards;
  }
